import React from 'react';
import PropTypes from 'prop-types';

const <%= props.name %> = (props) => {
  return (
    <div>
      <p><%= props.name %></p>
    </div>
  )
};

<%= props.name %>.defaultProps = {};

<%= props.name %>.propTypes = {};

export default React.memo(<%= props.name %>);